In this project we will Automate financial analysis of income statements & cash flow usually done in Excel, using python. 
Then we will transfer the data back to Excel with the relevant Graphs and Sheets.

Here we will import all relevant libraries for this Exploratory Analysis

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
import xlsxwriter

Read Income statement file from web

In [4]:
income_statement=pd.read_json('https://fmpcloud.io/api/v3/income-statement/AAPL?limit=120&apikey=426382eb33c96c6de14b08238465f43e')

Use head ,info and describe to get an idea of what the Data looks like.

In [5]:
income_statement.head()

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2021-09-25,AAPL,USD,320193,2021-10-29,2021-10-28 18:04:28,2021,FY,365817000000,212981000000,...,0.298529,14527000000,94680000000,0.258818,5.6700,5.6100,16701272000,16864919000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,2020-09-26,AAPL,USD,320193,2020-10-30,2020-10-29 18:06:25,2020,FY,274515000000,169559000000,...,0.244398,9680000000,57411000000,0.209136,3.3100,3.2800,17352119000,17528214000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,2019-09-28,AAPL,USD,320193,2019-10-31,2019-10-30 18:12:36,2019,FY,260174000000,161782000000,...,0.252666,10481000000,55256000000,0.212381,2.9925,2.9725,18471336000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,2018-09-29,AAPL,USD,320193,2018-11-05,2018-11-05 08:01:40,2018,FY,265595000000,163756000000,...,0.274489,13372000000,59531000000,0.224142,3.0025,2.9775,19821508000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,2017-09-30,AAPL,USD,320193,2017-11-03,2017-11-03 08:01:37,2017,FY,229234000000,141048000000,...,0.279579,15738000000,48351000000,0.210924,2.3175,2.3025,20868968000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [6]:
income_statement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 38 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     5 non-null      datetime64[ns]
 1   symbol                                   5 non-null      object
 2   reportedCurrency                         5 non-null      object
 3   cik                                      5 non-null      int64
 4   fillingDate                              5 non-null      object
 5   acceptedDate                             5 non-null      object
 6   calendarYear                             5 non-null      int64
 7   period                                   5 non-null      object
 8   revenue                                  5 non-null      int64
 9   costOfRevenue                            5 non-null      int64
 10  grossProfit                              5 non-null      int64
 11  grossProfitRatio                         5 non-null      float64
 12  researchAndDevelopmentExpenses           5 non-null      int64
 13  generalAndAdministrativeExpenses         5 non-null      int64
 14  sellingAndMarketingExpenses              5 non-null      int64
 15  sellingGeneralAndAdministrativeExpenses  5 non-null      int64
 16  otherExpenses                            5 non-null      int64
 17  operatingExpenses                        5 non-null      int64
 18  costAndExpenses                          5 non-null      int64
 19  interestIncome                           5 non-null      int64
 20  interestExpense                          5 non-null      int64
 21  depreciationAndAmortization              5 non-null      int64
 22  ebitda                                   5 non-null      int64
 23  ebitdaratio                              5 non-null      float64
 24  operatingIncome                          5 non-null      int64
 25  operatingIncomeRatio                     5 non-null      float64
 26  totalOtherIncomeExpensesNet              5 non-null      int64
 27  incomeBeforeTax                          5 non-null      int64
 28  incomeBeforeTaxRatio                     5 non-null      float64
 29  incomeTaxExpense                         5 non-null      int64
 30  netIncome                                5 non-null      int64
 31  netIncomeRatio                           5 non-null      float64
 32  eps                                      5 non-null      float64
 33  epsdiluted                               5 non-null      float64
 34  weightedAverageShsOut                    5 non-null      int64
 35  weightedAverageShsOutDil                 5 non-null      int64
 36  link                                     5 non-null      object
 37  finalLink                                5 non-null      object
dtypes: datetime64[ns](1), float64(7), int64(23), object(7)
memory usage: 1.6+ KB

Make the dates the column. From income_statement.head() the date isnt the column

In [7]:
income_statement.columns

Index(['date', 'symbol', 'reportedCurrency', 'cik', 'fillingDate',
       'acceptedDate', 'calendarYear', 'period', 'revenue', 'costOfRevenue',
       'grossProfit', 'grossProfitRatio', 'researchAndDevelopmentExpenses',
       'generalAndAdministrativeExpenses', 'sellingAndMarketingExpenses',
       'sellingGeneralAndAdministrativeExpenses', 'otherExpenses',
       'operatingExpenses', 'costAndExpenses', 'interestIncome',
       'interestExpense', 'depreciationAndAmortization', 'ebitda',
       'ebitdaratio', 'operatingIncome', 'operatingIncomeRatio',
       'totalOtherIncomeExpensesNet', 'incomeBeforeTax',
       'incomeBeforeTaxRatio', 'incomeTaxExpense', 'netIncome',
       'netIncomeRatio', 'eps', 'epsdiluted', 'weightedAverageShsOut',
       'weightedAverageShsOutDil', 'link', 'finalLink'],
      dtype='object')

In [8]:
income_statement.set_index('date',inplace=True)

In [9]:
income_statement.head()

,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,grossProfit,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
date,,,,,,,,,,,,,,,,,,,,,
2021-09-25,AAPL,USD,320193,2021-10-29,2021-10-28 18:04:28,2021,FY,365817000000,212981000000,152836000000,...,0.298529,14527000000,94680000000,0.258818,5.6700,5.6100,16701272000,16864919000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2020-09-26,AAPL,USD,320193,2020-10-30,2020-10-29 18:06:25,2020,FY,274515000000,169559000000,104956000000,...,0.244398,9680000000,57411000000,0.209136,3.3100,3.2800,17352119000,17528214000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2019-09-28,AAPL,USD,320193,2019-10-31,2019-10-30 18:12:36,2019,FY,260174000000,161782000000,98392000000,...,0.252666,10481000000,55256000000,0.212381,2.9925,2.9725,18471336000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2018-09-29,AAPL,USD,320193,2018-11-05,2018-11-05 08:01:40,2018,FY,265595000000,163756000000,101839000000,...,0.274489,13372000000,59531000000,0.224142,3.0025,2.9775,19821508000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2017-09-30,AAPL,USD,320193,2017-11-03,2017-11-03 08:01:37,2017,FY,229234000000,141048000000,88186000000,...,0.279579,15738000000,48351000000,0.210924,2.3175,2.3025,20868968000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

Read cash flow statement and peform same processes

In [10]:
cash_flow=pd.read_json('https://fmpcloud.io/api/v3/cash-flow-statement/AAPL?limit=120&apikey=426382eb33c96c6de14b08238465f43e')

In [11]:
cash_flow.head()

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,netIncome,depreciationAndAmortization,...,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,link,finalLink
0,2021-09-25,AAPL,USD,320193,2021-10-29,2021-10-28 18:04:28,2021,FY,94680000000,11284000000,...,-93353000000,0,-3860000000,35929000000,39789000000,104038000000,-11085000000,92953000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,2020-09-26,AAPL,USD,320193,2020-10-30,2020-10-29 18:06:25,2020,FY,57411000000,11056000000,...,-86820000000,0,-10435000000,39789000000,50224000000,80674000000,-7309000000,73365000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,2019-09-28,AAPL,USD,320193,2019-10-31,2019-10-30 18:12:36,2019,FY,55256000000,12547000000,...,-90976000000,0,24311000000,50224000000,25913000000,69391000000,-10495000000,58896000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,2018-09-29,AAPL,USD,320193,2018-11-05,2018-11-05 08:01:40,2018,FY,59531000000,10903000000,...,-87876000000,0,5624000000,25913000000,20289000000,77434000000,-13313000000,64121000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,2017-09-30,AAPL,USD,320193,2017-11-03,2017-11-03 08:01:37,2017,FY,48351000000,10157000000,...,-17347000000,0,-195000000,20289000000,20484000000,63598000000,-12795000000,50803000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [12]:
cash_flow.set_index('date',inplace=True)

In [13]:
cash_flow.head()

,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,netIncome,depreciationAndAmortization,deferredIncomeTax,...,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,link,finalLink
date,,,,,,,,,,,,,,,,,,,,,
2021-09-25,AAPL,USD,320193,2021-10-29,2021-10-28 18:04:28,2021,FY,94680000000,11284000000,-4774000000,...,-93353000000,0,-3860000000,35929000000,39789000000,104038000000,-11085000000,92953000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2020-09-26,AAPL,USD,320193,2020-10-30,2020-10-29 18:06:25,2020,FY,57411000000,11056000000,-215000000,...,-86820000000,0,-10435000000,39789000000,50224000000,80674000000,-7309000000,73365000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2019-09-28,AAPL,USD,320193,2019-10-31,2019-10-30 18:12:36,2019,FY,55256000000,12547000000,-340000000,...,-90976000000,0,24311000000,50224000000,25913000000,69391000000,-10495000000,58896000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2018-09-29,AAPL,USD,320193,2018-11-05,2018-11-05 08:01:40,2018,FY,59531000000,10903000000,-32590000000,...,-87876000000,0,5624000000,25913000000,20289000000,77434000000,-13313000000,64121000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2017-09-30,AAPL,USD,320193,2017-11-03,2017-11-03 08:01:37,2017,FY,48351000000,10157000000,5966000000,...,-17347000000,0,-195000000,20289000000,20484000000,63598000000,-12795000000,50803000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

Collect the Data we are interested in . Copy the data so we don't alter the original .

In [14]:
data=income_statement[['revenue','eps']].copy()

In [15]:
data.head()

                 revenue     eps
date
2021-09-25  365817000000  5.6700
2020-09-26  274515000000  3.3100
2019-09-28  260174000000  2.9925
2018-09-29  265595000000  3.0025
2017-09-30  229234000000  2.3175

Add free cash flow column (from cash_flow dataframe ) to your data dataframe.

In [16]:
data['fcf']=cash_flow['freeCashFlow']

In [17]:
data.head()

                 revenue     eps          fcf
date
2021-09-25  365817000000  5.6700  92953000000
2020-09-26  274515000000  3.3100  73365000000
2019-09-28  260174000000  2.9925  58896000000
2018-09-29  265595000000  3.0025  64121000000
2017-09-30  229234000000  2.3175  50803000000

Create percentage change columns for each column.
To do that we need to reorder the data in ascending rather than descending order.

In [18]:
data=data.sort_index()

In [19]:
data.head()

                 revenue     eps          fcf
date
2017-09-30  229234000000  2.3175  50803000000
2018-09-29  265595000000  3.0025  64121000000
2019-09-28  260174000000  2.9925  58896000000
2020-09-26  274515000000  3.3100  73365000000
2021-09-25  365817000000  5.6700  92953000000

In [20]:
data['rev%-change']=data['revenue'].pct_change()

In [21]:
data['eps%-change']=data['eps'].pct_change()

In [22]:
data['fcf%-change']=data['fcf'].pct_change()

Create a new dataset containing only data from the last 5 years

In [29]:
data_set=data.loc['2016-01-01':]
data_set.index=data_set.index.year
data_set

           revenue     eps          fcf  rev%-change  eps%-change  fcf%-change
date
2017  229234000000  2.3175  50803000000          NaN          NaN          NaN
2018  265595000000  3.0025  64121000000     0.158620     0.295577     0.262150
2019  260174000000  2.9925  58896000000    -0.020411    -0.003331    -0.081487
2020  274515000000  3.3100  73365000000     0.055121     0.106099     0.245670
2021  365817000000  5.6700  92953000000     0.332594     0.712991     0.266994

Create different dataframes for revenue,eps and fcf

In [30]:
rev=data_set[['revenue','rev%-change']].copy()
eps=data_set[['eps','eps%-change']].copy()
fcf=data_set[['fcf','fcf%-change']].copy()

Create Excel sheets for each of these newly created data frames.
Use a function to create each sheet

In [49]:
def create_sheet(writer,df,sheet_name):
    df.to_excel(writer, sheet_name=sheet_name)
    worksheet=writer.sheets[sheet_name]
    workbook=writer.book
    
    # Create a line chart
    chart = workbook.add_chart({'type': 'line'})
    chart.add_series({
        'name':sheet_name,
        'categories':[sheet_name,1,0,5,0],
        'values':[sheet_name,1,1,5,1]
    })
    
    # Create a column chart for percentage change column
    column_chart=workbook.add_chart({'type':'column'})
    # Configure the series of the chart from the dataframe data.
    column_chart.add_series({
        'name': sheet_name,
        'categories':[sheet_name,1,0,5,0],
        'values':[sheet_name,1,2,5,2],
        'gap':100,
        'y2_axis': True,
    })
    
    column_chart.set_y2_axis({'name':'%-chg'})
    # Combine the two charts to make one chart
    chart.combine(column_chart)
 
    # Insert the chart into an actual excel cell
    worksheet.insert_chart('E1',chart)

In [50]:
writer=pd.ExcelWriter('financials.xlsx', engine='xlsxwriter')
workbook=writer.book

create_sheet(writer,rev,'Revenue')
create_sheet(writer,eps,'EPS')
create_sheet(writer,fcf,'FCF')

writer.save()
workbook.close

**The Excel file has now been created showing the relevant graphs. Search computer/device for filename:'financials' to find file.**